<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinggevip.dao.AptMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.xinggevip.domain.Apt">
                    <id column="id" property="id"/>
                    <result column="empid" property="empid"/>
                    <result column="userid" property="userid"/>
                    <result column="roomid" property="roomid"/>
                    <result column="sourceid" property="sourceid"/>
                    <result column="paytypeid" property="paytypeid"/>
                    <result column="personnum" property="personnum"/>
                    <result column="starttime" property="starttime"/>
                    <result column="endtime" property="endtime"/>
                    <result column="price" property="price"/>
                    <result column="createtime" property="createtime"/>
                    <result column="status" property="status"/>
                    <result column="comment" property="comment"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, empid, userid, roomid, sourceid, paytypeid, personnum, starttime, endtime, price, createtime, status, comment
        </sql>
    <select id="selectAptListByKeyword" resultType="java.util.Map">
        SELECT
        t_user.username,
        t_user.sex,
        t_user.phonenumber,
        t_emp.username AS empname,
        t_apt.starttime,
        t_apt.endtime,
        t_apt.price,
        t_apt.createtime,
        t_apt.`status`,
        t_apt.`comment`,
        t_apt.personnum,
        t_paytype.paytype,
        t_room.`name`,
        t_source.sourcename,
        t_apt.id,
        t_apt.roomid,
        t_apt.sourceid,
        t_apt.paytypeid,
        t_apt.userid,
        t_apt.empid,
        t_user.money
        FROM
        t_apt
        INNER JOIN t_emp ON t_apt.empid = t_emp.id
        LEFT JOIN t_paytype ON t_paytype.id = t_apt.paytypeid
        INNER JOIN t_room ON t_apt.roomid = t_room.id
        INNER JOIN t_source ON t_apt.sourceid = t_source.id
        INNER JOIN t_user ON t_user.empid = t_emp.id AND t_apt.userid = t_user.id
        WHERE (t_user.username LIKE '%${keyword}%' OR t_user.phonenumber LIKE '%${keyword}%') AND t_apt.`status` = ${status}

    </select>

</mapper>