<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinggevip.dao.ChargeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinggevip.domain.Charge">
        <id column="id" property="id"/>
        <result column="empid" property="empid"/>
        <result column="userid" property="userid"/>
        <result column="aptid" property="aptid"/>
        <result column="paytypeid" property="paytypeid"/>
        <result column="moneynum" property="moneynum"/>
        <result column="comment" property="comment"/>
        <result column="createdate" property="createdate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, empid, userid, aptid, paytypeid, moneynum, comment, createdate
        </sql>

</mapper>