<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinggevip.dao.ChargeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinggevip.domain.Charge">
        <id column="id" property="id"/>
        <result column="empid" property="empid"/>
        <result column="userid" property="userid"/>
        <result column="aptid" property="aptid"/>
        <result column="paytypeid" property="paytypeid"/>
        <result column="moneynum" property="moneynum"/>
        <result column="comment" property="comment"/>
        <result column="createdate" property="createdate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, empid, userid, aptid, paytypeid, moneynum, comment, createdate
    </sql>
    <select id="selectChargeListByKeyword" resultType="java.util.Map">
        SELECT
        t_charge.id,
        t_charge.empid,
        t_charge.userid,
        t_charge.aptid,
        t_charge.paytypeid,
        t_charge.moneynum,
        t_charge.`comment`,
        t_charge.createdate,
        t_emp.username AS empname,
        t_user.username,
        t_paytype.paytype,
        t_user.phonenumber,
        t_room.`name`,
        t_source.sourcename,
        t_apt.roomid,
        t_apt.sourceid,
        t_apt.price
        FROM
        t_charge
        INNER JOIN t_emp ON t_charge.empid = t_emp.id
        INNER JOIN t_user ON t_user.empid = t_emp.id AND t_charge.userid = t_user.id
        INNER JOIN t_apt ON t_apt.empid = t_emp.id AND t_apt.userid = t_user.id
        INNER JOIN t_paytype ON t_charge.paytypeid = t_paytype.id AND t_apt.paytypeid = t_paytype.id
        INNER JOIN t_room ON t_apt.roomid = t_room.id
        INNER JOIN t_source ON t_apt.sourceid = t_source.id
        WHERE (t_user.username LIKE '%${keyword}%' OR t_user.phonenumber LIKE '%${keyword}%')
        AND t_charge.moneynum &lt; 0
        <if test="starttime != null and endtime != null">
            AND (t_charge.createdate &gt;= #{starttime,jdbcType=DATE} AND t_charge.createdate &lt; #{endtime,jdbcType=DATE}  )
        </if>
        <if test="roomid != null and roomid != 0">
        AND t_apt.roomid = ${roomid}
        </if>
    </select>

</mapper>